{% extends "layout.html" %}
{% block title %}Category{% endblock %}
{% block body %}
<div class="container">

    <div class="category">
        <h1>Category</h1>
        <div class="posts">
            <div class="left">
                <img src="img/1.jpeg" alt="">
            </div>
            <div class="post_details">
                <h3>Saksham Agarwal</h3>
                <h1>The future of Artificial Intelligence</h1>
                <h3>Artificial Intelligence</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur officiis tempore sequi
                    adipisci quibusdam magnam perspiciatis omnis. Repudiandae praesentium in id beatae quisquam
                    placeat magnam doloremque, aspernatur, vel ducimus impedit.....</p>

            </div>
        </div>
        <div class="posts">
            <div class="left">
                <img src="img/1.jpeg" alt="">
            </div>
            <div class="post_details">
                <h3>Saksham Agarwal</h3>
                <h1>The future of Artificial Intelligence</h1>
                <h3>Artificial Intelligence</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur officiis tempore sequi
                    adipisci quibusdam magnam perspiciatis omnis. Repudiandae praesentium in id beatae quisquam
                    placeat magnam doloremque, aspernatur, vel ducimus impedit.....</p>

            </div>
        </div>
    </div>
    <div class="details">

    </div>
</div>


{% endblock %}