/* variables */

:root {
    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-blue:#551A8B;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warnig: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
  
  }
  
  /* dark theme */
  .dark-theme-variables {
    --clr-color-background: #181a1e;
    --clr-white: #202528;
    --clr-light: rgba(0, 0, 0, 0.4);
    --clr-dark: #edeffd;
    --clr-dark-variant: #677483;
    --box-shadow: 0 2rem 3rem var(--clr-light)
  }

  h1{
    font-weight: 800;
    font-size: 1.8rem;
  }
  h2{
    font-size: 1.4rem;
  }
  h3{
    font-size: 0.88rem;
  }
  h4{
    font-size: 0.8rem;
  }
  h5{
    font-size: 0.7rem;
  }

  .profile-photo img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .text-muted{
    color: var(--clr-dark);
  }

  p{
    color: var(--clr-dark-variant);
  }

  b{
    color: var(--clr-dark);
  }

  .primary{
    color: var(--clr-success);
  }
  .danger{
    color: var(--clr-danger);
  }
  .warning{
    color: var(--clr-warnig);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background-color: var(--clr-white);
}

.container{
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}
aside{
    height: 100vh;
}
aside .top{
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 1rem;
}

 aside .top div.close span{
    display: none;
 }

 aside .sidebar{
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    height:85vh ;
    position: relative;
    top: 1rem;

 }
 aside h3{
    font-weight: 600;
 }

 aside .sidebar a{
    display: flex;
    color: var(--clr-dark);
    margin-left: 1.5rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    
    transition: all .1s ease-in;
 }

 aside .sidebar a span{
    font-size: 1.6rem;
 }

 aside .sidebar a:last-child{
    position: absolute;
    bottom: 3rem;
    width: 100%;
 }
 aside .sidebar a.active{
    background-color: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
    border-left: 5px solid var(--clr-primary);
 }

 aside .sidebar a:hover{
    margin-left: 0;
    background-color: var(--clr-light);
    color: var(--clr-primary);
    border-left: 5px solid var(--clr-primary);
 }

 main{
    margin-top: 1.5rem;
    width: auto;
 }

 main input{
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--clr-dark);
 }

 main .date{
    display: inline-block;
    background-color: var(--clr-white);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
 }
 main .insights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
 }

 main .insights>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in;
    

 }

 main .insights>div:hover{
    box-shadow: none;
 }

 main .insights>div span,.right .sales_analytics >div span{
    background: coral;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--clr-white);
    font-size:1.5rem ;
 }

 main .insights>div .middle{
    display: flex;
    justify-content: space-around;
    align-items: center;

 }
 main .insights>div .middle h1{
    font-size: 1.6rem;
 }

 main .recent_posts{
   margin-top: 2rem;
 }
main .recent_posts h1{
   color: var(--clr-dark);
}
main .recent_posts table{
   background-color: var(--clr-white);
   width: 100%;
   border-radius: var(--card-border-radius);
   padding: var(--card-padding);
   text-align: center;
   box-shadow: var(--box-shadow);
   transition: all .3s ease;
   color: var(--clr-dark);
}

main .recent_posts table:hover{
   box-shadow: none;
}
main table thead tr{
   font-size: 1.5rem;
 }
main table tbody td{
   height: 3.8rem;
   font-size: 1rem;
   border-bottom: 3px solid var(--clr-dark);
}
main table tbody tr:last-child td{
   border-bottom: none;
}

main table tbody a span{
   font-size: 2.5rem;
   padding: 0.3rem;
   color: var(--clr-blue);
}
main table tbody tr td a:hover span{
   background-color: var(--clr-light);
   color: var(--clr-primary);
   border-radius: 50%;
}


.right{
   margin-top: 1.5rem;
}

.right h2{
   color: var(--clr-dark);
}
.right .top{
   margin-right: 1rem;
   display: flex;
   justify-content: end;
   align-items: center;
   /* gap: 1.5rem; */
}

.right .top button{
   display: none;
}

.right .top .profile{
   display: flex;
   text-align: center;
   gap: 2rem;
}
.right .info h3{
   color: var(--clr-dark);
}
.right .recent_updates{
   margin-top: 1.5rem;
}
.right .recent_updates .updates{
   background-color: var(--clr-white);
   border-radius: var(--card-border-radius);
   padding: var(--card-padding);
   box-shadow: var(--box-shadow);
   transition: all .3s ease;
}

.right .recent_updates .updates:hover{
   box-shadow: none;
}
.right .recent_updates .update{
   display: grid;
   grid-template-columns: 2.6rem auto;
   gap: 1rem;
   margin-bottom: 1rem;
}

.right .sales_analytics{
   margin-top: 1.5rem;
}
.right .sales_analytics .item{
   background-color: var(--clr-white);
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   margin: 10px 0;
   width: 100%;
   margin-bottom: 0.8rem;
   border-radius: var(--border-radius-3);
   padding: 1.4rem var(--card-padding);
   box-shadow: var(--box-shadow);
}
.right .sales_analytics .item:hover{
   box-shadow: none;
}


/* media query for tablets */

@media screen and (max-width:1200px) {
   .container{
      width: 94%;
      grid-template-columns: 3.5rem auto 14rem;
   }
   aside .sidebar h3{
      display: none;
   }
   aside .sidebar a:last-child{
      position: relative;
      margin-top: 2.5rem;
   }
   main h2{
      text-align: center;
   }
   main .insights{
      display: grid;
      grid-template-columns: repeat(1,1fr);
   }
}

/* media query for phones */
@media  screen and (max-width:768px){
   .container{
      width: 100%;
      grid-template-columns: repeat(1,1fr);
   }
   aside{
      position:fixed;
      width: 18rem;
      z-index: 3;
      background-color: var(--clr-white);
      display: none;
   }
   aside .logo h1{
      display: inline;
   }
   aside .sidebar h3{
      display: inline-block;
   }
   aside .sidebar a{
      height: 3.2rem;
      width: 100%;
   }
   aside .top div.close span{
      display: inline;
      position: absolute;
      font-size: 30px;
      margin-right: 20px;

   }
   .right .top{
      position: fixed;
      top: 0.5rem;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.8rem;
      width: 100%;
      height: 3.4rem;
      margin: 0;
      background-color: var(--clr-white);
      /* margin-right: 20px; */
      z-index: 2;
   }
   main h2{
      display: none;
   }
   main .insights{

      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 1.6rem;
      padding: 50px;
   }
   main .recent_posts{
      padding: 30px;
      margin: 0 auto;
   }
   .right .profile{
      position: absolute;
      left: 70%;
   }
   .right .recent_updates{
      padding: 30px;
      margin: 0 auto;
   }
   .right .sales_analytics{
      padding: 30px;
      margin: 0 auto;
   }
   .right .top button{
      display: inline-block;
      background-color: transparent;
      cursor: pointer;
      color: var(--clr-dark);
      position: absolute;
      left: 1.5rem;
      font-size: 30px;
   }

}